In [4]:
import pandas as pd

In [6]:
df = pd.read_csv('output.csv')

In [7]:
df

        uniform       random
0    565.736531   813.121229
1    704.874870  1545.668351
2   1101.489258  1294.481497
3    706.808975   788.876788
4    463.776388   371.985593
..          ...          ...
95   956.531156  1038.626665
96  1280.351110  1229.726591
97   981.477791   778.862887
98   777.252436  1033.326908
99   714.139636   429.997599

[100 rows x 2 columns]

In [8]:
df.describe()

           uniform       random
count   100.000000   100.000000
mean    848.918876   866.523561
std     333.654964   402.131546
min     372.694592   284.990897
25%     586.621547   596.853403
50%     758.327544   773.331015
75%    1069.924344  1030.998602
max    1631.010421  2504.314600

In [9]:
df2 = pd.read_csv('output2.csv')

In [12]:
df2

        uniform       random
0   1328.057555  1323.044118
1    944.390393   872.558309
2    641.874715   532.952967
3   1401.420067   316.510216
4    904.186266   605.603373
..          ...          ...
95   333.510315   542.254028
96   983.327118   775.856977
97   590.461995   958.204941
98   480.671302  1585.408315
99  1641.852567   435.663357

[100 rows x 2 columns]

In [14]:
df2.describe()

           uniform       random
count   100.000000   100.000000
mean    820.768060   793.202069
std     354.422435   325.948157
min     310.682393   316.510216
25%     566.772622   567.310509
50%     716.306959   705.427803
75%     999.901233   915.237196
max    1857.790288  1864.325868

In [15]:
df3 = pd.read_csv('output3.csv')

In [ ]:
df3.descrip