In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('output.csv')

In [3]:
df.describe()

           uniform       random
count   100.000000   100.000000
mean    848.918876   866.523561
std     333.654964   402.131546
min     372.694592   284.990897
25%     586.621547   596.853403
50%     758.327544   773.331015
75%    1069.924344  1030.998602
max    1631.010421  2504.314600

In [4]:
df2 = pd.read_csv('output2.csv')

In [5]:
df2.describe()

           uniform       random
count   100.000000   100.000000
mean    820.768060   793.202069
std     354.422435   325.948157
min     310.682393   316.510216
25%     566.772622   567.310509
50%     716.306959   705.427803
75%     999.901233   915.237196
max    1857.790288  1864.325868

In [6]:
df3 = pd.read_csv('output3.csv')

In [7]:
df3.describe()

           uniform       random
count  1000.000000  1000.000000
mean    859.459605   846.972113
std     342.754929   346.156320
min     299.047292   275.889339
25%     597.167830   595.517904
50%     797.147854   767.917542
75%    1030.631511  1026.303951
max    2176.165917  2281.290293